<a href="https://colab.research.google.com/github/jtinklerdav/jtinklerdav.github.io/blob/main/consumption_production_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1_1 = pd.read_csv('regression_data.csv')
df1_1

,Continent,Country Name,GDP pc,Consumption,Population,Consumption (litres),Consumption pc,Population (thousands)
0,Asia,Afghanistan,516.75,1,38928341,100000,0.00257,38928.34
1,Africa,Libya,7614.33,1,6871287,100000,0.01455,6871.29
2,Africa,Chad,652.35,2,16425859,200000,0.01218,16425.86
3,Africa,Djibouti,3219.70,2,988002,200000,0.20243,988.00
4,Africa,Malawi,636.29,2,19129955,200000,0.01045,19129.96
...,...,...,...,...,...,...,...,...
162,Africa,Nigeria,2097.09,279,206139587,27900000,0.13535,206139.59
163,Oceania,New Zealand,41596.51,950,5090200,95000000,18.66331,5090.20
164,South America,Chile,13220.57,1826,19116209,182600000,9.55210,19116.21
165,Africa,South Africa,5655.87,3138,59308690,313800000,5.29096,59308.69
166,Oceania,Australia,51680.32,5950,25693267,595000000,23.15782,25693.27

In [ ]:
df1_2 = df1_1.drop(['Consumption'],axis=1)
df1_2

,Continent,Country Name,GDP pc,Population,Consumption (litres),Consumption pc,Population (thousands)
0,Asia,Afghanistan,516.75,38928341,100000,0.00257,38928.34
1,Africa,Libya,7614.33,6871287,100000,0.01455,6871.29
2,Africa,Chad,652.35,16425859,200000,0.01218,16425.86
3,Africa,Djibouti,3219.70,988002,200000,0.20243,988.00
4,Africa,Malawi,636.29,19129955,200000,0.01045,19129.96
...,...,...,...,...,...,...,...
162,Africa,Nigeria,2097.09,206139587,27900000,0.13535,206139.59
163,Oceania,New Zealand,41596.51,5090200,95000000,18.66331,5090.20
164,South America,Chile,13220.57,19116209,182600000,9.55210,19116.21
165,Africa,South Africa,5655.87,59308690,313800000,5.29096,59308.69
166,Oceania,Australia,51680.32,25693267,595000000,23.15782,25693.27

In [ ]:
df1_3 = df1_2.rename(columns={'Country Name': 'Country'})

In [ ]:
df2_1 = pd.read_csv('country_production.csv')
df2_1

   Continent         Country  Production (litres)
0     Europe         Albania             15900000
1     Africa         Algeria             60000000
2     Africa           Egypt              5300000
3     Africa        Ethiopia               800000
4     Africa      Madagascar              7800000
..       ...             ...                  ...
62    Europe     Switzerland             83400000
63    Europe         Ukraine             66000000
64    Europe  United Kingdom              6500000
65   Oceania       Australia           1090000000
66   Oceania     New Zealand            329000000

[67 rows x 3 columns]

In [ ]:
merge_df = df1_3.merge(df2_1, on=['Country', 'Continent'], how='right')
merge_df

,Continent,Country,GDP pc,Population,Consumption (litres),Consumption pc,Population (thousands),Production (litres)
0,Europe,Albania,5332.16,2837849,20500000,7.22378,2837.85,15900000
1,Africa,Algeria,3306.86,43851043,45500000,1.03760,43851.04,60000000
2,Africa,Egypt,3569.21,102334403,5700000,0.05570,102334.40,5300000
3,Africa,Ethiopia,936.45,1160164,800000,0.68956,1160.16,800000
4,Africa,Madagascar,477.61,27691019,8800000,0.31779,27691.02,7800000
...,...,...,...,...,...,...,...,...
62,Europe,Switzerland,87100.41,8636561,250300000,28.98144,8636.56,83400000
63,Europe,Ukraine,3751.74,44132049,105000000,2.37922,44132.05,66000000
64,Europe,United Kingdom,41098.08,67081000,1340000000,19.97585,67081.00,6500000
65,Oceania,Australia,51680.32,25693267,595000000,23.15782,25693.27,1090000000
66,Oceania,New Zealand,41596.51,5090200,95000000,18.66331,5090.20,329000000

In [ ]:
merge_df['Prod_pc'] = merge_df['Production (litres)']/merge_df['Population']
merge_df

,Continent,Country,GDP pc,Population,Consumption (litres),Consumption pc,Population (thousands),Production (litres),Prod_pc
0,Europe,Albania,5332.16,2837849,20500000,7.22378,2837.85,15900000,5.602835
1,Africa,Algeria,3306.86,43851043,45500000,1.03760,43851.04,60000000,1.368268
2,Africa,Egypt,3569.21,102334403,5700000,0.05570,102334.40,5300000,0.051791
3,Africa,Ethiopia,936.45,1160164,800000,0.68956,1160.16,800000,0.689558
4,Africa,Madagascar,477.61,27691019,8800000,0.31779,27691.02,7800000,0.281680
...,...,...,...,...,...,...,...,...,...
62,Europe,Switzerland,87100.41,8636561,250300000,28.98144,8636.56,83400000,9.656621
63,Europe,Ukraine,3751.74,44132049,105000000,2.37922,44132.05,66000000,1.495512
64,Europe,United Kingdom,41098.08,67081000,1340000000,19.97585,67081.00,6500000,0.096898
65,Oceania,Australia,51680.32,25693267,595000000,23.15782,25693.27,1090000000,42.423566
66,Oceania,New Zealand,41596.51,5090200,95000000,18.66331,5090.20,329000000,64.634003

In [ ]:
exported_values = list(merge_df.T.to_dict().values())

In [ ]:
import json

In [ ]:
open('final_consumption.json','w').write(json.dumps(exported_values))

16949

In [ ]:
json.dumps(exported_values)

'[{"Continent": "Europe", "Country": "Albania", "GDP pc": 5332.16, "Population": 2837849, "Consumption (litres)": 20500000, "Consumption pc": 7.22378, "Population (thousands)": 2837.85, "Production (litres)": 15900000, "Prod_pc": 5.6028351050390635}, {"Continent": "Africa", "Country": "Algeria", "GDP pc": 3306.86, "Population": 43851043, "Consumption (litres)": 45500000, "Consumption pc": 1.0376, "Population (thousands)": 43851.04, "Production (litres)": 60000000, "Prod_pc": 1.3682684810940529}, {"Continent": "Africa", "Country": "Egypt", "GDP pc": 3569.21, "Population": 102334403, "Consumption (litres)": 5700000, "Consumption pc": 0.0557, "Population (thousands)": 102334.4, "Production (litres)": 5300000, "Prod_pc": 0.05179098958538899}, {"Continent": "Africa", "Country": "Ethiopia", "GDP pc": 936.45, "Population": 1160164, "Consumption (litres)": 800000, "Consumption pc": 0.68956, "Population (thousands)": 1160.16, "Production (litres)": 800000, "Prod_pc": 0.6895576832240959}, {"Continent": "Africa", "Country": "Madagascar", "GDP pc": 477.61, "Population": 27691019, "Consumption (litres)": 8800000, "Consumption pc": 0.31779, "Population (thousands)": 27691.02, "Production (litres)": 7800000, "Prod_pc": 0.2816797749479714}, {"Continent": "Africa", "Country": "Morocco", "GDP pc": 3058.69, "Population": 36910558, "Consumption (litres)": 59600000, "Consumption pc": 1.61471, "Population (thousands)": 36910.56, "Production (litres)": 40900000, "Prod_pc": 1.1080840338420244}, {"Continent": "Africa", "Country": "South Africa", "GDP pc": 5655.87, "Population": 59308690, "Consumption (litres)": 313800000, "Consumption pc": 5.29096, "Population (thousands)": 59308.69, "Production (litres)": 1038500000, "Prod_pc": 17.510081574892315}, {"Continent": "Africa", "Country": "Tunisia", "GDP pc": 3597.22, "Population": 11818618, "Consumption (litres)": 31800000, "Consumption pc": 2.69067, "Population (thousands)": 11818.62, "Production (litres)": 35000000, "Prod_pc": 2.9614291620221587}, {"Continent": "Africa", "Country": "Zimbabwe", "GDP pc": 1214.51, "Population": 14862927, "Consumption (litres)": 2200000, "Consumption pc": 0.14802, "Population (thousands)": 14862.93, "Production (litres)": 1400000, "Prod_pc": 0.09419409783819836}, {"Continent": "South America", "Country": "Argentina", "GDP pc": 8585.69, "Population": 45376763, "Consumption (litres)": 943000000, "Consumption pc": 20.78156, "Population (thousands)": 45376.76, "Production (litres)": 1079600000, "Prod_pc": 23.791913054705997}, {"Continent": "South America", "Country": "Bolivia", "GDP pc": 3137.99, "Population": 11673029, "Consumption (litres)": 7400000, "Consumption pc": 0.63394, "Population (thousands)": 11673.03, "Production (litres)": 8400000, "Prod_pc": 0.719607567153307}, {"Continent": "South America", "Country": "Brazil", "GDP pc": 6814.88, "Population": 212559409, "Consumption (litres)": 405300000, "Consumption pc": 1.90676, "Population (thousands)": 212559.41, "Production (litres)": 225700000, "Prod_pc": 1.0618207919462177}, {"Continent": "North America", "Country": "Canada", "GDP pc": 43258.26, "Population": 38037204, "Consumption (litres)": 441800000, "Consumption pc": 11.61494, "Population (thousands)": 38037.2, "Production (litres)": 65600000, "Prod_pc": 1.724627288588299}, {"Continent": "South America", "Country": "Chile", "GDP pc": 13220.57, "Population": 19116209, "Consumption (litres)": 182600000, "Consumption pc": 9.5521, "Population (thousands)": 19116.21, "Production (litres)": 1033700000, "Prod_pc": 54.07452910773261}, {"Continent": "North America", "Country": "Cuba", "GDP pc": 9477.85, "Population": 11326616, "Consumption (litres)": 16100000, "Consumption pc": 1.42143, "Population (thousands)": 11326.62, "Production (litres)": 14400000, "Prod_pc": 1.271341767037922}, {"Continent": "North America", "Country": "Mexico", "GDP pc": 8431.67, "Population": 128932753, "Consumption (litres)": 110900000, "Consumption pc": 0.86014, "Population (thousands)": 128932.75, "Production (litres)": 39800000, "Prod_pc": 0.30868804918793596}, {"Continent": "North America", "Country": "Panama", "GDP pc": 12509.84, "Population": 4314768, "Consumption (litres)": 100000, "Consumption pc": 0.02318, "Population (thousands)": 4314.77, "Production (litres)": 100000, "Prod_pc": 0.02317621712221839}, {"Continent": "South America", "Country": "Paraguay", "GDP pc": 4967.69, "Population": 7132530, "Consumption (litres)": 25100000, "Consumption pc": 3.51909, "Population (thousands)": 7132.53, "Production (litres)": 1700000, "Prod_pc": 0.2383445986206858}, {"Continent": "South America", "Country": "Peru", "GDP pc": 6117.49, "Population": 32971846, "Consumption (litres)": 88500000, "Consumption pc": 2.68411, "Population (thousands)": 32971.85, "Production (litres)": 79500000, "Prod_pc": 2.4111479836464116}, {"Continent": "North America", "Country": "United States", "GDP pc": 63027.68, "Population": 331501080, "Consumption (litres)": 3285900000, "Consumption pc": 9.91218, "Population (thousands)": 331501.08, "Production (litres)": 2275000000, "Prod_pc": 6.862722739847484}, {"Continent": "South America", "Country": "Uruguay", "GDP pc": 15418.82, "Population": 3473727, "Consumption (litres)": 69200000, "Consumption pc": 19.92097, "Population (thousands)": 3473.73, "Production (litres)": 69500000, "Prod_pc": 20.0073293036557}, {"Continent": "Asia", "Country": "Armenia", "GDP pc": 4266.02, "Population": 2963234, "Consumption (litres)": 10500000, "Consumption pc": 3.54343, "Population (thousands)": 2963.23, "Production (litres)": 11700000, "Prod_pc": 3.948388821132587}, {"Continent": "Asia", "Country": "Azerbaijan", "GDP pc": 4229.91, "Population": 10093121, "Consumption (litres)": 10800000, "Consumption pc": 1.07004, "Population (thousands)": 10093.12, "Production (litres)": 9000000, "Prod_pc": 0.8916964336402982}, {"Continent": "Asia", "Country": "China", "GDP pc": 10408.67, "Population": 1411100000, "Consumption (litres)": 1239600000, "Consumption pc": 0.87846, "Population (thousands)": 1411100.0, "Production (litres)": 658700000, "Prod_pc": 0.46679895117284387}, {"Continent": "Asia", "Country": "Georgia", "GDP pc": 4255.74, "Population": 3722716, "Consumption (litres)": 109000000, "Consumption pc": 29.2797, "Population (thousands)": 3722.72, "Production (litres)": 180000000, "Prod_pc": 48.351794764897456}, {"Continent": "Asia", "Country": "India", "GDP pc": 1933.1, "Population": 1380004385, "Consumption (litres)": 21200000, "Consumption pc": 0.01536, "Population (thousands)": 1380004.39, "Production (litres)": 18000000, "Prod_pc": 0.013043436814876498}, {"Continent": "Asia", "Country": "Israel", "GDP pc": 44177.57, "Population": 9215100, "Consumption (litres)": 4300000, "Consumption pc": 0.46663, "Population (thousands)": 9215.1, "Production (litres)": 20000000, "Prod_pc": 2.1703508372128355}, {"Continent": "Asia", "Country": "Japan", "GDP pc": 39918.17, "Population": 126261000, "Consumption (litres)": 348200000, "Consumption pc": 2.75778, "Population (thousands)": 126261.0, "Production (litres)": 83000000, "Prod_pc": 0.6573684669058537}, {"Continent": "Asia", "Country": "Kazakhstan", "GDP pc": 9121.64, "Population": 18755666, "Consumption (litres)": 54000000, "Consumption pc": 2.87913, "Population (thousands)": 18755.67, "Production (litres)": 43800000, "Prod_pc": 2.3352943051982264}, {"Continent": "Asia", "Country": "Kyrgyzstan", "GDP pc": 1182.52, "Population": 6579900, "Consumption (litres)": 3400000, "Consumption pc": 0.51673, "Population (thousands)": 6579.9, "Production (litres)": 1400000, "Prod_pc": 0.21276919102114014}, {"Continent": "Asia", "Country": "Lebanon", "GDP pc": 3801.79, "Population": 6825442, "Consumption (litres)": 8800000, "Consumption pc": 1.28929, "Population (thousands)": 6825.44, "Production (litres)": 10000000, "Prod_pc": 1.4651065821085287}, {"Continent": "Europe", "Country": "Turkey", "GDP pc": 8536.43, "Population": 84339067, "Consumption (litres)": 68100000, "Consumption pc": 0.80745, "Population (thousands)": 84339.07, "Production (litres)": 62200000, "Prod_pc": 0.7374992659095932}, {"Continent": "Asia", "Country": "Tajikistan", "GDP pc": 852.83, "Population": 9537642, "Consumption (litres)": 400000, "Consumption pc": 0.04194, "Population (thousands)": 9537.64, "Production (litres)": 200000, "Prod_pc": 0.020969543625143406}, {"Continent": "Asia", "Country": "Uzbekistan", "GDP pc": 1749.66, "Population": 34232050, "Consumption (litres)": 15700000, "Consumption pc": 0.45863, "Population (thousands)": 34232.05, "Production (litres)": 21800000, "Prod_pc": 0.636830105120786}, {"Continent": "Europe", "Country": "Austria", "GDP pc": 48588.66, "Population": 8916864, "Consumption (litres)": 230600000, "Consumption pc": 25.86111, "Population (thousands)": 8916.86, "Production (litres)": 239800000, "Prod_pc": 26.892862782251697}, {"Continent": "Europe", "Country": "Belarus", "GDP pc": 6555.43, "Population": 9379952, "Consumption (litres)": 98200000, "Consumption pc": 10.46914, "Population (thousands)": 9379.95, "Production (litres)": 34000000, "Prod_pc": 3.624752024317395}, {"Continent": "Europe", "Country": "Belgium", "GDP pc": 45189.37, "Population": 11544241, "Consumption (litres)": 260400000, "Consumption pc": 22.5567, "Population (thousands)": 11544.24, "Production (litres)": 1800000, "Prod_pc": 0.15592190079884855}, {"Continent": "Europe", "Country": "Bosnia and Herzegovina", "GDP pc": 6082.37, "Population": 3280815, "Consumption (litres)": 11100000, "Consumption pc": 3.38331, "Population (thousands)": 3280.82, "Production (litres)": 6900000, "Prod_pc": 2.103135958595654}, {"Continent": "Europe", "Country": "Bulgaria", "GDP pc": 10079.2, "Population": 6934015, "Consumption (litres)": 84000000, "Consumption pc": 12.11419, "Population (thousands)": 6934.02, "Production (litres)": 82300000, "Prod_pc": 11.869025377072303}, {"Continent": "Europe", "Country": "Croatia", "GDP pc": 14132.49, "Population": 4047680, "Consumption (litres)": 95400000, "Consumption pc": 23.56906, "Population (thousands)": 4047.68, "Production (litres)": 80000000, "Prod_pc": 19.764408253616885}, {"Continent": "Europe", "Country": "Cyprus", "GDP pc": 27681.57, "Population": 1207361, "Consumption (litres)": 16400000, "Consumption pc": 13.58334, "Population (thousands)": 1207.36, "Production (litres)": 8900000, "Prod_pc": 7.3714489701091885}, {"Continent": "Europe", "Country": "Czechia", "GDP pc": 22933.5, "Population": 10697858, "Consumption (litres)": 229600000, "Consumption pc": 21.46224, "Population (thousands)": 10697.86, "Production (litres)": 60300000, "Prod_pc": 5.636642400749758}, {"Continent": "Europe", "Country": "Estonia", "GDP pc": 23054.36, "Population": 1402985, "Consumption (litres)": 27500000, "Consumption pc": 19.60106, "Population (thousands)": 1402.99, "Production (litres)": 11000000, "Prod_pc": 7.840425948958827}, {"Continent": "Europe", "Country": "France", "GDP pc": 39037.12, "Population": 67379908, "Consumption (litres)": 2320200000, "Consumption pc": 34.4346, "Population (thousands)": 67379.91, "Production (litres)": 4666600000, "Prod_pc": 69.25803460580563}, {"Continent": "Europe", "Country": "Germany", "GDP pc": 46252.69, "Population": 83160871, "Consumption (litres)": 1984400000, "Consumption pc": 23.86218, "Population (thousands)": 83160.87, "Production (litres)": 840500000, "Prod_pc": 10.106916749344773}, {"Continent": "Europe", "Country": "Greece", "GDP pc": 17647.23, "Population": 10700556, "Consumption (litres)": 221600000, "Consumption pc": 20.7092, "Population (thousands)": 10700.56, "Production (litres)": 228300000, "Prod_pc": 21.335339958035824}, {"Continent": "Europe", "Country": "Hungary", "GDP pc": 16075.97, "Population": 9750149, "Consumption (litres)": 192500000, "Consumption pc": 19.74329, "Population (thousands)": 9750.15, "Production (litres)": 294100000, "Prod_pc": 30.163641601784754}, {"Continent": "Europe", "Country": "Italy", "GDP pc": 31834.97, "Population": 59449527, "Consumption (litres)": 2420000000, "Consumption pc": 40.7068, "Population (thousands)": 59449.53, "Production (litres)": 4906600000, "Prod_pc": 82.53387785574812}, {"Continent": "Europe", "Country": "Latvia", "GDP pc": 17703.95, "Population": 1900449, "Consumption (litres)": 8300000, "Consumption pc": 4.36739, "Population (thousands)": 1900.45, "Production (litres)": 2000000, "Prod_pc": 1.052382884255247}, {"Continent": "Europe", "Country": "Lithuania", "GDP pc": 20232.3, "Population": 2794885, "Consumption (litres)": 34400000, "Consumption pc": 12.3082, "Population (thousands)": 2794.89, "Production (litres)": 3200000, "Prod_pc": 1.1449487188202734}, {"Continent": "Europe", "Country": "Luxembourg", "GDP pc": 116356.16, "Population": 630419, "Consumption (litres)": 25700000, "Consumption pc": 40.76654, "Population (thousands)": 630.42, "Production (litres)": 9700000, "Prod_pc": 15.386592091926163}, {"Continent": "Europe", "Country": "Malta", "GDP pc": 28946.46, "Population": 515332, "Consumption (litres)": 7100000, "Consumption pc": 13.77753, "Population (thousands)": 515.33, "Production (litres)": 1200000, "Prod_pc": 2.328595934271499}, {"Continent": "Europe", "Country": "Moldova", "GDP pc": 4525.76, "Population": 2620495, "Consumption (litres)": 32900000, "Consumption pc": 12.55488, "Population (thousands)": 2620.5, "Production (litres)": 92000000, "Prod_pc": 35.10787084119603}, {"Continent": "Europe", "Country": "Montenegro", "GDP pc": 7694.63, "Population": 621306, "Consumption (litres)": 10900000, "Consumption pc": 17.54369, "Population (thousands)": 621.31, "Production (litres)": 7000000, "Prod_pc": 11.266590053854301}, {"Continent": "Europe", "Country": "Portugal", "GDP pc": 22194.57, "Population": 10297081, "Consumption (litres)": 462600000, "Consumption pc": 44.92535, "Population (thousands)": 10297.08, "Production (litres)": 641800000, "Prod_pc": 62.32834334312802}, {"Continent": "Europe", "Country": "North Macedonia", "GDP pc": 5846.47, "Population": 2072531, "Consumption (litres)": 26500000, "Consumption pc": 12.7863, "Population (thousands)": 2072.53, "Production (litres)": 93600000, "Prod_pc": 45.16217127753457}, {"Continent": "Europe", "Country": "Romania", "GDP pc": 12956.57, "Population": 19257520, "Consumption (litres)": 382500000, "Consumption pc": 19.86237, "Population (thousands)": 19257.52, "Production (litres)": 382900000, "Prod_pc": 19.883141754493828}, {"Continent": "Europe", "Country": "Russian Federation", "GDP pc": 10161.98, "Population": 144073139, "Consumption (litres)": 1026700000, "Consumption pc": 7.12624, "Population (thousands)": 144073.14, "Production (litres)": 443300000, "Prod_pc": 3.0769094300083237}, {"Continent": "Europe", "Country": "Serbia", "GDP pc": 7730.69, "Population": 6899126, "Consumption (litres)": 81200000, "Consumption pc": 11.76961, "Population (thousands)": 6899.13, "Production (litres)": 70500000, "Prod_pc": 10.21868567119951}, {"Continent": "Europe", "Country": "Slovak Republic", "GDP pc": 19266.51, "Population": 5458827, "Consumption (litres)": 64500000, "Consumption pc": 11.81573, "Population (thousands)": 5458.83, "Production (litres)": 35300000, "Prod_pc": 6.466590716283919}, {"Continent": "Europe", "Country": "Slovenia", "GDP pc": 25489.5, "Population": 2102419, "Consumption (litres)": 77200000, "Consumption pc": 36.71961, "Population (thousands)": 2102.42, "Production (litres)": 74300000, "Prod_pc": 35.340243785848585}, {"Continent": "Europe", "Country": "Spain", "GDP pc": 27056.42, "Population": 47363419, "Consumption (litres)": 921800000, "Consumption pc": 19.46228, "Population (thousands)": 47363.42, "Production (litres)": 4094900000, "Prod_pc": 86.45701865399539}, {"Continent": "Europe", "Country": "Switzerland", "GDP pc": 87100.41, "Population": 8636561, "Consumption (litres)": 250300000, "Consumption pc": 28.98144, "Population (thousands)": 8636.56, "Production (litres)": 83400000, "Prod_pc": 9.65662142605141}, {"Continent": "Europe", "Country": "Ukraine", "GDP pc": 3751.74, "Population": 44132049, "Consumption (litres)": 105000000, "Consumption pc": 2.37922, "Population (thousands)": 44132.05, "Production (litres)": 66000000, "Prod_pc": 1.4955117991462394}, {"Continent": "Europe", "Country": "United Kingdom", "GDP pc": 41098.08, "Population": 67081000, "Consumption (litres)": 1340000000, "Consumption pc": 19.97585, "Population (thousands)": 67081.0, "Production (litres)": 6500000, "Prod_pc": 0.0968977802954637}, {"Continent": "Oceania", "Country": "Australia", "GDP pc": 51680.32, "Population": 25693267, "Consumption (litres)": 595000000, "Consumption pc": 23.15782, "Population (thousands)": 25693.27, "Production (litres)": 1090000000, "Prod_pc": 42.4235656757858}, {"Continent": "Oceania", "Country": "New Zealand", "GDP pc": 41596.51, "Population": 5090200, "Consumption (litres)": 95000000, "Consumption pc": 18.66331, "Population (thousands)": 5090.2, "Production (litres)": 329000000, "Prod_pc": 64.63400259321834}]'