<a href="https://colab.research.google.com/github/jtinklerdav/jtinklerdav.github.io/blob/main/Graph3_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [11]:
df = pd.read_csv('final_consumption.csv')
df

    Region  Country  Year  Wine Consumption (1000hl)
0    Other  Algeria  1995                        243
1    Other  Algeria  1996                        250
2    Other  Algeria  1997                        195
3    Other  Algeria  1998                        200
4    Other  Algeria  1999                        247
..     ...      ...   ...                        ...
265  Other  Average  2017                     135497
266  Other  Average  2018                     130862
267  Other  Average  2019                     128207
268  Other  Average  2020                     125030
269  Other  Average  2021                     124926

[270 rows x 4 columns]

In [42]:
df1 = df.drop(['Region'],axis=1)
df1

     Country  Year  Wine Consumption (1000hl)
0    Algeria  1995                        243
1    Algeria  1996                        250
2    Algeria  1997                        195
3    Algeria  1998                        200
4    Algeria  1999                        247
..       ...   ...                        ...
265  Average  2017                     135497
266  Average  2018                     130862
267  Average  2019                     128207
268  Average  2020                     125030
269  Average  2021                     124926

[270 rows x 3 columns]

In [43]:
df2 = pd.read_csv('pop_overtime.csv')
df2

,Country,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Argentina,34946110,35389362,35815971,36233195,36653031,37070774,37480493,37885028,38278164,...,41733271,42202935,42669500,43131966,43590368,44044811,44494502,44938712,45376763,45808747
1,Australia,18004882,18224767,18423037,18607584,18812264,19028802,19274701,19495210,19720737,...,22733465,23128129,23475686,23815995,24190907,24594202,24966643,25340217,25655289,25688079
2,Algeria,28478022,28984634,29476031,29924668,30346083,30774621,31200985,31624696,32055883,...,37260563,38000626,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969
3,China,1204855000,1217550000,1230075000,1241935000,1252735000,1262645000,1271850000,1280400000,1288400000,...,1354190000,1363240000,1371860000,1379860000,1387790000,1396215000,1402760000,1407745000,1411100000,1412360000
4,France,59543659,59756533,59969944,60192790,60504420,60921384,61367388,61816234,62256970,...,65662240,66002289,66312067,66548272,66724104,66918020,67158348,67388001,67571107,67749632
5,Italy,56844303,56860281,56890372,56906744,56916317,56942108,56974100,57059007,57313203,...,59539717,60233948,60789140,60730582,60627498,60536709,60421760,59729081,59438851,59109668
6,South Africa,43986084,44661603,45285048,45852166,46364681,46813266,47229714,47661514,48104048,...,53145033,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255
7,United Kingdom,58019030,58166950,58316954,58487141,58682466,58892514,59119673,59370479,59647577,...,63700215,64128273,64602298,65116219,65611593,66058859,66460344,66836327,67081000,67326569
8,United States of America,266278000,269394000,272657000,275854000,279040000,282162411,284968955,287625193,290107933,...,313877662,316059947,318386329,320738994,323071755,325122128,326838199,328329953,331501080,331893745
9,Average,1770955090,1788988130,1806909357,1823993288,1840054262,1855250880,1869466009,1882937361,1895884515,...,2011842166,2026869763,2041584739,2055361686,2068367828,2081267484,2092366438,2101099714,2109977683,2113506664

In [44]:
df3=df2.set_index(['Country']).stack().reset_index()
df3

       Country level_1           0
0    Argentina    1995    34946110
1    Argentina    1996    35389362
2    Argentina    1997    35815971
3    Argentina    1998    36233195
4    Argentina    1999    36653031
..         ...     ...         ...
265    Average    2017  2081267484
266    Average    2018  2092366438
267    Average    2019  2101099714
268    Average    2020  2109977683
269    Average    2021  2113506664

[270 rows x 3 columns]

In [48]:
df4 = df3.rename(columns={'level_1': 'Year',0:'population'})

In [52]:
df4['Year']=df4['Year'].astype(int)
df1['Year']=df1['Year'].astype(int)

In [53]:
merge_df = df4.merge(df1, on=['Country', 'Year'], how='right')
merge_df

     Country  Year  population  Wine Consumption (1000hl)
0    Algeria  1995    28478022                        243
1    Algeria  1996    28984634                        250
2    Algeria  1997    29476031                        195
3    Algeria  1998    29924668                        200
4    Algeria  1999    30346083                        247
..       ...   ...         ...                        ...
265  Average  2017  2081267484                     135497
266  Average  2018  2092366438                     130862
267  Average  2019  2101099714                     128207
268  Average  2020  2109977683                     125030
269  Average  2021  2113506664                     124926

[270 rows x 4 columns]

In [54]:
merge_df['cons_pc'] = 100000* merge_df['Wine Consumption (1000hl)']/merge_df['population']
merge_df

     Country  Year  population  Wine Consumption (1000hl)   cons_pc
0    Algeria  1995    28478022                        243  0.853290
1    Algeria  1996    28984634                        250  0.862526
2    Algeria  1997    29476031                        195  0.661554
3    Algeria  1998    29924668                        200  0.668345
4    Algeria  1999    30346083                        247  0.813944
..       ...   ...         ...                        ...       ...
265  Average  2017  2081267484                     135497  6.510312
266  Average  2018  2092366438                     130862  6.254258
267  Average  2019  2101099714                     128207  6.101900
268  Average  2020  2109977683                     125030  5.925655
269  Average  2021  2113506664                     124926  5.910840

[270 rows x 5 columns]

In [55]:
exported_values = list(merge_df.T.to_dict().values())

In [24]:
import json

In [56]:
open('final_consumption', 'w').write(json.dumps(exported_values))

35458

In [57]:
json.dumps(exported_values)

'[{"Country": "Algeria", "Year": 1995, "population": 28478022, "Wine Consumption (1000hl)": 243, "cons_pc": 0.8532895999588735}, {"Country": "Algeria", "Year": 1996, "population": 28984634, "Wine Consumption (1000hl)": 250, "cons_pc": 0.8625259853203597}, {"Country": "Algeria", "Year": 1997, "population": 29476031, "Wine Consumption (1000hl)": 195, "cons_pc": 0.6615544677639944}, {"Country": "Algeria", "Year": 1998, "population": 29924668, "Wine Consumption (1000hl)": 200, "cons_pc": 0.6683449253304999}, {"Country": "Algeria", "Year": 1999, "population": 30346083, "Wine Consumption (1000hl)": 247, "cons_pc": 0.813943598585689}, {"Country": "Algeria", "Year": 2000, "population": 30774621, "Wine Consumption (1000hl)": 225, "cons_pc": 0.7311219202342085}, {"Country": "Algeria", "Year": 2001, "population": 31200985, "Wine Consumption (1000hl)": 203, "cons_pc": 0.6506204852186558}, {"Country": "Algeria", "Year": 2002, "population": 31624696, "Wine Consumption (1000hl)": 320, "cons_pc": 1.0118674342355733}, {"Country": "Algeria", "Year": 2003, "population": 32055883, "Wine Consumption (1000hl)": 220, "cons_pc": 0.686301481696823}, {"Country": "Algeria", "Year": 2004, "population": 32510186, "Wine Consumption (1000hl)": 350, "cons_pc": 1.0765856584148734}, {"Country": "Algeria", "Year": 2005, "population": 32956690, "Wine Consumption (1000hl)": 350, "cons_pc": 1.0619998549611627}, {"Country": "Algeria", "Year": 2006, "population": 33435080, "Wine Consumption (1000hl)": 350, "cons_pc": 1.0468047332322818}, {"Country": "Algeria", "Year": 2007, "population": 33983827, "Wine Consumption (1000hl)": 304, "cons_pc": 0.8945431601920525}, {"Country": "Algeria", "Year": 2008, "population": 34569592, "Wine Consumption (1000hl)": 312, "cons_pc": 0.9025272846726106}, {"Country": "Algeria", "Year": 2009, "population": 35196037, "Wine Consumption (1000hl)": 406, "cons_pc": 1.1535389623553356}, {"Country": "Algeria", "Year": 2010, "population": 35856344, "Wine Consumption (1000hl)": 280, "cons_pc": 0.7808938914686896}, {"Country": "Algeria", "Year": 2011, "population": 36543541, "Wine Consumption (1000hl)": 288, "cons_pc": 0.788100967008096}, {"Country": "Algeria", "Year": 2012, "population": 37260563, "Wine Consumption (1000hl)": 311, "cons_pc": 0.8346626431812101}, {"Country": "Algeria", "Year": 2013, "population": 38000626, "Wine Consumption (1000hl)": 338, "cons_pc": 0.8894590315433225}, {"Country": "Algeria", "Year": 2014, "population": 38760168, "Wine Consumption (1000hl)": 372, "cons_pc": 0.9597481620822697}, {"Country": "Algeria", "Year": 2015, "population": 39543154, "Wine Consumption (1000hl)": 387, "cons_pc": 0.9786776239447162}, {"Country": "Algeria", "Year": 2016, "population": 40339329, "Wine Consumption (1000hl)": 397, "cons_pc": 0.9841512237350304}, {"Country": "Algeria", "Year": 2017, "population": 41136546, "Wine Consumption (1000hl)": 459, "cons_pc": 1.1157961584815603}, {"Country": "Algeria", "Year": 2018, "population": 41927007, "Wine Consumption (1000hl)": 472, "cons_pc": 1.125766024748678}, {"Country": "Algeria", "Year": 2019, "population": 42705368, "Wine Consumption (1000hl)": 445, "cons_pc": 1.042023569495994}, {"Country": "Algeria", "Year": 2020, "population": 43451666, "Wine Consumption (1000hl)": 455, "cons_pc": 1.047140517005723}, {"Country": "Algeria", "Year": 2021, "population": 44177969, "Wine Consumption (1000hl)": 455, "cons_pc": 1.0299251194639572}, {"Country": "Argentina", "Year": 1995, "population": 34946110, "Wine Consumption (1000hl)": 13888, "cons_pc": 39.741190078094526}, {"Country": "Argentina", "Year": 1996, "population": 35389362, "Wine Consumption (1000hl)": 13365, "cons_pc": 37.76558616682607}, {"Country": "Argentina", "Year": 1997, "population": 35815971, "Wine Consumption (1000hl)": 13390, "cons_pc": 37.38555629274996}, {"Country": "Argentina", "Year": 1998, "population": 36233195, "Wine Consumption (1000hl)": 12683, "cons_pc": 35.00381349202023}, {"Country": "Argentina", "Year": 1999, "population": 36653031, "Wine Consumption (1000hl)": 12567, "cons_pc": 34.286386847516106}, {"Country": "Argentina", "Year": 2000, "population": 37070774, "Wine Consumption (1000hl)": 12491, "cons_pc": 33.69500728525388}, {"Country": "Argentina", "Year": 2001, "population": 37480493, "Wine Consumption (1000hl)": 12036, "cons_pc": 32.11270460076392}, {"Country": "Argentina", "Year": 2002, "population": 37885028, "Wine Consumption (1000hl)": 11988, "cons_pc": 31.64310713984427}, {"Country": "Argentina", "Year": 2003, "population": 38278164, "Wine Consumption (1000hl)": 12338, "cons_pc": 32.23247593588867}, {"Country": "Argentina", "Year": 2004, "population": 38668796, "Wine Consumption (1000hl)": 11113, "cons_pc": 28.73893461797983}, {"Country": "Argentina", "Year": 2005, "population": 39070501, "Wine Consumption (1000hl)": 10972, "cons_pc": 28.082567971165766}, {"Country": "Argentina", "Year": 2006, "population": 39476851, "Wine Consumption (1000hl)": 11103, "cons_pc": 28.125343634931774}, {"Country": "Argentina", "Year": 2007, "population": 39876111, "Wine Consumption (1000hl)": 11166, "cons_pc": 28.00172765092363}, {"Country": "Argentina", "Year": 2008, "population": 40273769, "Wine Consumption (1000hl)": 10677, "cons_pc": 26.511052392439357}, {"Country": "Argentina", "Year": 2009, "population": 40684338, "Wine Consumption (1000hl)": 10342, "cons_pc": 25.420101465089587}, {"Country": "Argentina", "Year": 2010, "population": 40788453, "Wine Consumption (1000hl)": 9753, "cons_pc": 23.911178979992204}, {"Country": "Argentina", "Year": 2011, "population": 41261490, "Wine Consumption (1000hl)": 9809, "cons_pc": 23.772772141771902}, {"Country": "Argentina", "Year": 2012, "population": 41733271, "Wine Consumption (1000hl)": 10051, "cons_pc": 24.08390178665842}, {"Country": "Argentina", "Year": 2013, "population": 42202935, "Wine Consumption (1000hl)": 10352, "cons_pc": 24.529099694132647}, {"Country": "Argentina", "Year": 2014, "population": 42669500, "Wine Consumption (1000hl)": 9938, "cons_pc": 23.290640855880664}, {"Country": "Argentina", "Year": 2015, "population": 43131966, "Wine Consumption (1000hl)": 10269, "cons_pc": 23.80832814344702}, {"Country": "Argentina", "Year": 2016, "population": 43590368, "Wine Consumption (1000hl)": 9416, "cons_pc": 21.601102335268195}, {"Country": "Argentina", "Year": 2017, "population": 44044811, "Wine Consumption (1000hl)": 8925, "cons_pc": 20.2634539628289}, {"Country": "Argentina", "Year": 2018, "population": 44494502, "Wine Consumption (1000hl)": 8396, "cons_pc": 18.869747098192043}, {"Country": "Argentina", "Year": 2019, "population": 44938712, "Wine Consumption (1000hl)": 8532, "cons_pc": 18.985857894636588}, {"Country": "Argentina", "Year": 2020, "population": 45376763, "Wine Consumption (1000hl)": 9430, "cons_pc": 20.781561699321742}, {"Country": "Argentina", "Year": 2021, "population": 45808747, "Wine Consumption (1000hl)": 8381, "cons_pc": 18.295632491323108}, {"Country": "Australia", "Year": 1995, "population": 18004882, "Wine Consumption (1000hl)": 3275, "cons_pc": 18.18951104483773}, {"Country": "Australia", "Year": 1996, "population": 18224767, "Wine Consumption (1000hl)": 3287, "cons_pc": 18.035895877297087}, {"Country": "Australia", "Year": 1997, "population": 18423037, "Wine Consumption (1000hl)": 3472, "cons_pc": 18.845969858281236}, {"Country": "Australia", "Year": 1998, "population": 18607584, "Wine Consumption (1000hl)": 3644, "cons_pc": 19.583412870795048}, {"Country": "Australia", "Year": 1999, "population": 18812264, "Wine Consumption (1000hl)": 3726, "cons_pc": 19.80622853262106}, {"Country": "Australia", "Year": 2000, "population": 19028802, "Wine Consumption (1000hl)": 3899, "cons_pc": 20.489991960607924}, {"Country": "Australia", "Year": 2001, "population": 19274701, "Wine Consumption (1000hl)": 3976, "cons_pc": 20.62807615018256}, {"Country": "Australia", "Year": 2002, "population": 19495210, "Wine Consumption (1000hl)": 4007, "cons_pc": 20.55376679707477}, {"Country": "Australia", "Year": 2003, "population": 19720737, "Wine Consumption (1000hl)": 4196, "cons_pc": 21.277095272859224}, {"Country": "Australia", "Year": 2004, "population": 19932722, "Wine Consumption (1000hl)": 4361, "cons_pc": 21.878597413840417}, {"Country": "Australia", "Year": 2005, "population": 20176844, "Wine Consumption (1000hl)": 4523, "cons_pc": 22.416786292246695}, {"Country": "Australia", "Year": 2006, "population": 20450966, "Wine Consumption (1000hl)": 4769, "cons_pc": 23.31919186604682}, {"Country": "Australia", "Year": 2007, "population": 20827622, "Wine Consumption (1000hl)": 4869, "cons_pc": 23.37760883119542}, {"Country": "Australia", "Year": 2008, "population": 21249199, "Wine Consumption (1000hl)": 5043, "cons_pc": 23.732659287533615}, {"Country": "Australia", "Year": 2009, "population": 21691653, "Wine Consumption (1000hl)": 5122, "cons_pc": 23.612769391064848}, {"Country": "Australia", "Year": 2010, "population": 22031750, "Wine Consumption (1000hl)": 5389, "cons_pc": 24.46015409579357}, {"Country": "Australia", "Year": 2011, "population": 22340024, "Wine Consumption (1000hl)": 5406, "cons_pc": 24.198720645958126}, {"Country": "Australia", "Year": 2012, "population": 22733465, "Wine Consumption (1000hl)": 5420, "cons_pc": 23.841504143780984}, {"Country": "Australia", "Year": 2013, "population": 23128129, "Wine Consumption (1000hl)": 5379, "cons_pc": 23.2573936266094}, {"Country": "Australia", "Year": 2014, "population": 23475686, "Wine Consumption (1000hl)": 5418, "cons_pc": 23.079197770834046}, {"Country": "Australia", "Year": 2015, "population": 23815995, "Wine Consumption (1000hl)": 5476, "cons_pc": 22.99295074591677}, {"Country": "Australia", "Year": 2016, "population": 24190907, "Wine Consumption (1000hl)": 5380, "cons_pc": 22.239761411178176}, {"Country": "Australia", "Year": 2017, "population": 24594202, "Wine Consumption (1000hl)": 5360, "cons_pc": 21.793754479206115}, {"Country": "Australia", "Year": 2018, "population": 24966643, "Wine Consumption (1000hl)": 5272, "cons_pc": 21.116174889832006}, {"Country": "Australia", "Year": 2019, "population": 25340217, "Wine Consumption (1000hl)": 5803, "cons_pc": 22.90035637816361}, {"Country": "Australia", "Year": 2020, "population": 25655289, "Wine Consumption (1000hl)": 5950, "cons_pc": 23.192098907948377}, {"Country": "Australia", "Year": 2021, "population": 25688079, "Wine Consumption (1000hl)": 5716, "cons_pc": 22.25156657296172}, {"Country": "China", "Year": 1995, "population": 1204855000, "Wine Consumption (1000hl)": 6911, "cons_pc": 0.5735959928788111}, {"Country": "China", "Year": 1996, "population": 1217550000, "Wine Consumption (1000hl)": 7439, "cons_pc": 0.6109810685392797}, {"Country": "China", "Year": 1997, "population": 1230075000, "Wine Consumption (1000hl)": 9215, "cons_pc": 0.7491413125215942}, {"Country": "China", "Year": 1998, "population": 1241935000, "Wine Consumption (1000hl)": 10964, "cons_pc": 0.8828159283698422}, {"Country": "China", "Year": 1999, "population": 1252735000, "Wine Consumption (1000hl)": 10546, "cons_pc": 0.8418380583283775}, {"Country": "China", "Year": 2000, "population": 1262645000, "Wine Consumption (1000hl)": 10695, "cons_pc": 0.847031430053578}, {"Country": "China", "Year": 2001, "population": 1271850000, "Wine Consumption (1000hl)": 10952, "cons_pc": 0.8611078350434407}, {"Country": "China", "Year": 2002, "population": 1280400000, "Wine Consumption (1000hl)": 11364, "cons_pc": 0.887535145267104}, {"Country": "China", "Year": 2003, "population": 1288400000, "Wine Consumption (1000hl)": 11993, "cons_pc": 0.9308444582427817}, {"Country": "China", "Year": 2004, "population": 1296075000, "Wine Consumption (1000hl)": 12120, "cons_pc": 0.9351310688038886}, {"Country": "China", "Year": 2005, "population": 1303720000, "Wine Consumption (1000hl)": 12306, "cons_pc": 0.9439143374344184}, {"Country": "China", "Year": 2006, "population": 1311020000, "Wine Consumption (1000hl)": 13012, "cons_pc": 0.9925096489756068}, {"Country": "China", "Year": 2007, "population": 1317885000, "Wine Consumption (1000hl)": 13884, "cons_pc": 1.0535061860480999}, {"Country": "China", "Year": 2008, "population": 1324655000, "Wine Consumption (1000hl)": 14046, "cons_pc": 1.0603515632372202}, {"Country": "China", "Year": 2009, "population": 1331260000, "Wine Consumption (1000hl)": 14514, "cons_pc": 1.0902453314904677}, {"Country": "China", "Year": 2010, "population": 1337705000, "Wine Consumption (1000hl)": 15180, "cons_pc": 1.1347793422316579}, {"Country": "China", "Year": 2011, "population": 1345035000, "Wine Consumption (1000hl)": 16454, "cons_pc": 1.2233138914600736}, {"Country": "China", "Year": 2012, "population": 1354190000, "Wine Consumption (1000hl)": 18525, "cons_pc": 1.3679764287138436}, {"Country": "China", "Year": 2013, "population": 1363240000, "Wine Consumption (1000hl)": 18714, "cons_pc": 1.37275901528711}, {"Country": "China", "Year": 2014, "population": 1371860000, "Wine Consumption (1000hl)": 17369, "cons_pc": 1.2660912921143557}, {"Country": "China", "Year": 2015, "population": 1379860000, "Wine Consumption (1000hl)": 18057, "cons_pc": 1.3086110185091242}, {"Country": "China", "Year": 2016, "population": 1387790000, "Wine Consumption (1000hl)": 19162, "cons_pc": 1.3807564545068058}, {"Country": "China", "Year": 2017, "population": 1396215000, "Wine Consumption (1000hl)": 19280, "cons_pc": 1.380876154460452}, {"Country": "China", "Year": 2018, "population": 1402760000, "Wine Consumption (1000hl)": 17568, "cons_pc": 1.2523881490775328}, {"Country": "China", "Year": 2019, "population": 1407745000, "Wine Consumption (1000hl)": 14999, "cons_pc": 1.0654628501610732}, {"Country": "China", "Year": 2020, "population": 1411100000, "Wine Consumption (1000hl)": 12396, "cons_pc": 0.8784636099496846}, {"Country": "China", "Year": 2021, "population": 1412360000, "Wine Consumption (1000hl)": 10492, "cons_pc": 0.74287008977881}, {"Country": "France", "Year": 1995, "population": 59543659, "Wine Consumption (1000hl)": 36515, "cons_pc": 61.32474996204046}, {"Country": "France", "Year": 1996, "population": 59756533, "Wine Consumption (1000hl)": 34795, "cons_pc": 58.227943043482796}, {"Country": "France", "Year": 1997, "population": 59969944, "Wine Consumption (1000hl)": 35500, "cons_pc": 59.196320076603705}, {"Country": "France", "Year": 1998, "population": 60192790, "Wine Consumption (1000hl)": 36330, "cons_pc": 60.35606590091604}, {"Country": "France", "Year": 1999, "population": 60504420, "Wine Consumption (1000hl)": 35400, "cons_pc": 58.50812221652567}, {"Country": "France", "Year": 2000, "population": 60921384, "Wine Consumption (1000hl)": 34500, "cons_pc": 56.63036151640941}, {"Country": "France", "Year": 2001, "population": 61367388, "Wine Consumption (1000hl)": 33919, "cons_pc": 55.272028198430085}, {"Country": "France", "Year": 2002, "population": 61816234, "Wine Consumption (1000hl)": 34820, "cons_pc": 56.32824542498011}, {"Country": "France", "Year": 2003, "population": 62256970, "Wine Consumption (1000hl)": 34081, "cons_pc": 54.74246498022631}, {"Country": "France", "Year": 2004, "population": 62716306, "Wine Consumption (1000hl)": 33218, "cons_pc": 52.965491940804036}, {"Country": "France", "Year": 2005, "population": 63188395, "Wine Consumption (1000hl)": 33530, "cons_pc": 53.063541177141786}, {"Country": "France", "Year": 2006, "population": 63628261, "Wine Consumption (1000hl)": 33003, "cons_pc": 51.868461405852344}, {"Country": "France", "Year": 2007, "population": 64021737, "Wine Consumption (1000hl)": 32168, "cons_pc": 50.24543460918594}, {"Country": "France", "Year": 2008, "population": 64379696, "Wine Consumption (1000hl)": 30800, "cons_pc": 47.84117029692094}, {"Country": "France", "Year": 2009, "population": 64710879, "Wine Consumption (1000hl)": 30214, "cons_pc": 46.69075813357442}, {"Country": "France", "Year": 2010, "population": 65030575, "Wine Consumption (1000hl)": 29272, "cons_pc": 45.0126728850237}, {"Country": "France", "Year": 2011, "population": 65345233, "Wine Consumption (1000hl)": 28307, "cons_pc": 43.31915076345355}, {"Country": "France", "Year": 2012, "population": 65662240, "Wine Consumption (1000hl)": 28022, "cons_pc": 42.67597328388432}, {"Country": "France", "Year": 2013, "population": 66002289, "Wine Consumption (1000hl)": 27770, "cons_pc": 42.074298362591634}, {"Country": "France", "Year": 2014, "population": 66312067, "Wine Consumption (1000hl)": 27545, "cons_pc": 41.538442769398216}, {"Country": "France", "Year": 2015, "population": 66548272, "Wine Consumption (1000hl)": 26452, "cons_pc": 39.74859031651491}, {"Country": "France", "Year": 2016, "population": 66724104, "Wine Consumption (1000hl)": 28290, "cons_pc": 42.39847117317604}, {"Country": "France", "Year": 2017, "population": 66918020, "Wine Consumption (1000hl)": 28634, "cons_pc": 42.78967010679634}, {"Country": "France", "Year": 2018, "population": 67158348, "Wine Consumption (1000hl)": 26028, "cons_pc": 38.75616475854945}, {"Country": "France", "Year": 2019, "population": 67388001, "Wine Consumption (1000hl)": 24714, "cons_pc": 36.674184770668596}, {"Country": "France", "Year": 2020, "population": 67571107, "Wine Consumption (1000hl)": 23202, "cons_pc": 34.33716129587754}, {"Country": "France", "Year": 2021, "population": 67749632, "Wine Consumption (1000hl)": 25202, "cons_pc": 37.19872603883664}, {"Country": "Italy", "Year": 1995, "population": 56844303, "Wine Consumption (1000hl)": 35623, "cons_pc": 62.6676696167776}, {"Country": "Italy", "Year": 1996, "population": 56860281, "Wine Consumption (1000hl)": 34693, "cons_pc": 61.01447159573482}, {"Country": "Italy", "Year": 1997, "population": 56890372, "Wine Consumption (1000hl)": 30855, "cons_pc": 54.23589074087967}, {"Country": "Italy", "Year": 1998, "population": 56906744, "Wine Consumption (1000hl)": 31840, "cons_pc": 55.95118919472883}, {"Country": "Italy", "Year": 1999, "population": 56916317, "Wine Consumption (1000hl)": 31563, "cons_pc": 55.45509910628968}, {"Country": "Italy", "Year": 2000, "population": 56942108, "Wine Consumption (1000hl)": 30800, "cons_pc": 54.0900242049346}, {"Country": "Italy", "Year": 2001, "population": 56974100, "Wine Consumption (1000hl)": 30150, "cons_pc": 52.91878239410539}, {"Country": "Italy", "Year": 2002, "population": 57059007, "Wine Consumption (1000hl)": 27709, "cons_pc": 48.562008799066554}, {"Country": "Italy", "Year": 2003, "population": 57313203, "Wine Consumption (1000hl)": 29343, "cons_pc": 51.19762718548464}, {"Country": "Italy", "Year": 2004, "population": 57685327, "Wine Consumption (1000hl)": 28300, "cons_pc": 49.059269439523156}, {"Country": "Italy", "Year": 2005, "population": 57969484, "Wine Consumption (1000hl)": 27016, "cons_pc": 46.60383038772606}, {"Country": "Italy", "Year": 2006, "population": 58143979, "Wine Consumption (1000hl)": 27332, "cons_pc": 47.00744680717499}, {"Country": "Italy", "Year": 2007, "population": 58438310, "Wine Consumption (1000hl)": 26700, "cons_pc": 45.68920627581461}, {"Country": "Italy", "Year": 2008, "population": 58826731, "Wine Consumption (1000hl)": 26166, "cons_pc": 44.479779099062974}, {"Country": "Italy", "Year": 2009, "population": 59095365, "Wine Consumption (1000hl)": 23000, "cons_pc": 38.92014204498102}, {"Country": "Italy", "Year": 2010, "population": 59277417, "Wine Consumption (1000hl)": 23500, "cons_pc": 39.644102576196936}, {"Country": "Italy", "Year": 2011, "population": 59379449, "Wine Consumption (1000hl)": 22000, "cons_pc": 37.04985541378129}, {"Country": "Italy", "Year": 2012, "population": 59539717, "Wine Consumption (1000hl)": 21600, "cons_pc": 36.27830478267137}, {"Country": "Italy", "Year": 2013, "population": 60233948, "Wine Consumption (1000hl)": 20800, "cons_pc": 34.532021709750786}, {"Country": "Italy", "Year": 2014, "population": 60789140, "Wine Consumption (1000hl)": 19500, "cons_pc": 32.07809816029639}, {"Country": "Italy", "Year": 2015, "population": 60730582, "Wine Consumption (1000hl)": 21400, "cons_pc": 35.237600719848196}, {"