<a href="https://colab.research.google.com/github/jtinklerdav/jtinklerdav.github.io/blob/main/Regression_Price.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests

In [25]:
df = pd.read_csv('price_of_bottle.csv')
df

                 Continent       Country  Cost of 750ml Wine (US$)
0                  Oceania          Fiji                      1.36
1                   Europe       Moldova                      2.24
2                   Africa      Ethiopia                      2.63
3                   Europe       Ukraine                      3.20
4                   Africa  South Africa                      3.34
..                     ...           ...                       ...
115  Eastern Mediterranean        Jordan                     19.28
116                 Europe       Iceland                     20.61
117  Eastern Mediterranean       Bahrain                     20.74
118        Western Pacific     Singapore                     22.87
119        South-East Asia     Indonesia                     23.08

[120 rows x 3 columns]

In [26]:
df2=df.drop(['Continent'],axis=1)

In [27]:
df2_1 = pd.read_csv('regression_pop.csv')
df2_1

,Continent,Country Name,GDP pc,Consumption,Population,Consumption (litres),Consumption pc,Population (thousands)
0,Asia,Afghanistan,516.75,1,38928341,100000,0.00257,38928.34
1,Africa,Libya,7614.33,1,6871287,100000,0.01455,6871.29
2,Africa,Chad,652.35,2,16425859,200000,0.01218,16425.86
3,Africa,Djibouti,3219.70,2,988002,200000,0.20243,988.00
4,Africa,Malawi,636.29,2,19129955,200000,0.01045,19129.96
...,...,...,...,...,...,...,...,...
162,Africa,Nigeria,2097.09,279,206139587,27900000,0.13535,206139.59
163,Oceania,New Zealand,41596.51,950,5090200,95000000,18.66331,5090.20
164,South America,Chile,13220.57,1826,19116209,182600000,9.55210,19116.21
165,Africa,South Africa,5655.87,3138,59308690,313800000,5.29096,59308.69
166,Oceania,Australia,51680.32,5950,25693267,595000000,23.15782,25693.27

In [28]:
df2_2 = df2_1.drop(['Consumption (litres)', 'Consumption','GDP pc'],axis=1)
df2_2

,Continent,Country Name,Population,Consumption pc,Population (thousands)
0,Asia,Afghanistan,38928341,0.00257,38928.34
1,Africa,Libya,6871287,0.01455,6871.29
2,Africa,Chad,16425859,0.01218,16425.86
3,Africa,Djibouti,988002,0.20243,988.00
4,Africa,Malawi,19129955,0.01045,19129.96
...,...,...,...,...,...
162,Africa,Nigeria,206139587,0.13535,206139.59
163,Oceania,New Zealand,5090200,18.66331,5090.20
164,South America,Chile,19116209,9.55210,19116.21
165,Africa,South Africa,59308690,5.29096,59308.69
166,Oceania,Australia,25693267,23.15782,25693.27

In [19]:
df2_3 = df2_2.rename(columns={'Country Name': 'Country'})

In [29]:
merge_df = df2.merge(df2_3, on=['Country'], how='left')
merge_df

,Country,Cost of 750ml Wine (US$),Continent,Population,Consumption pc,Population (thousands)
0,Fiji,1.36,Oceania,48865,26.60391,48.87
1,Moldova,2.24,Europe,2620495,12.55488,2620.50
2,Ethiopia,2.63,Africa,1160164,0.68956,1160.16
3,Ukraine,3.20,Europe,44132049,2.37922,44132.05
4,South Africa,3.34,Africa,59308690,5.29096,59308.69
...,...,...,...,...,...,...
115,Jordan,19.28,Asia,10203140,0.02940,10203.14
116,Iceland,20.61,Europe,366463,13.64394,366.46
117,Bahrain,20.74,Asia,1701583,0.88153,1701.58
118,Singapore,22.87,Asia,5685807,2.76126,5685.81
119,Indonesia,23.08,Asia,273523621,0.00914,273523.62

In [33]:
exported_values = list(merge_df.T.to_dict().values())

In [22]:
import json

In [34]:
open('regression.json','w').write(json.dumps(exported_values))

20347

In [35]:
json.dumps(exported_values)

'[{"Country": "Fiji", "Cost of 750ml Wine (US$)": 1.36, "Continent": "Oceania", "Population": 48865, "Consumption pc": 26.60391, "Population (thousands)": 48.87}, {"Country": "Moldova", "Cost of 750ml Wine (US$)": 2.24, "Continent": "Europe", "Population": 2620495, "Consumption pc": 12.55488, "Population (thousands)": 2620.5}, {"Country": "Ethiopia", "Cost of 750ml Wine (US$)": 2.63, "Continent": "Africa", "Population": 1160164, "Consumption pc": 0.68956, "Population (thousands)": 1160.16}, {"Country": "Ukraine", "Cost of 750ml Wine (US$)": 3.2, "Continent": "Europe", "Population": 44132049, "Consumption pc": 2.37922, "Population (thousands)": 44132.05}, {"Country": "South Africa", "Cost of 750ml Wine (US$)": 3.34, "Continent": "Africa", "Population": 59308690, "Consumption pc": 5.29096, "Population (thousands)": 59308.69}, {"Country": "Armenia", "Cost of 750ml Wine (US$)": 3.73, "Continent": "Asia", "Population": 2963234, "Consumption pc": 3.54343, "Population (thousands)": 2963.23}, {"Country": "North Macedonia", "Cost of 750ml Wine (US$)": 3.8, "Continent": "Europe", "Population": 2072531, "Consumption pc": 12.7863, "Population (thousands)": 2072.53}, {"Country": "Serbia", "Cost of 750ml Wine (US$)": 3.81, "Continent": "Europe", "Population": 6899126, "Consumption pc": 11.76961, "Population (thousands)": 6899.13}, {"Country": "Romania", "Cost of 750ml Wine (US$)": 3.88, "Continent": "Europe", "Population": 19257520, "Consumption pc": 19.86237, "Population (thousands)": 19257.52}, {"Country": "Azerbaijan", "Cost of 750ml Wine (US$)": 3.9, "Continent": "Asia", "Population": 10093121, "Consumption pc": 1.07004, "Population (thousands)": 10093.12}, {"Country": "Tunisia", "Cost of 750ml Wine (US$)": 4.0, "Continent": "Africa", "Population": 11818618, "Consumption pc": 2.69067, "Population (thousands)": 11818.62}, {"Country": "Hungary", "Cost of 750ml Wine (US$)": 4.1, "Continent": "Europe", "Population": 9750149, "Consumption pc": 19.74329, "Population (thousands)": 9750.15}, {"Country": "Uzbekistan", "Cost of 750ml Wine (US$)": 4.17, "Continent": "Asia", "Population": 34232050, "Consumption pc": 0.45863, "Population (thousands)": 34232.05}, {"Country": "Cuba", "Cost of 750ml Wine (US$)": 4.2, "Continent": "North America", "Population": 11326616, "Consumption pc": 1.42143, "Population (thousands)": 11326.62}, {"Country": "Nigeria", "Cost of 750ml Wine (US$)": 4.22, "Continent": "Africa", "Population": 206139587, "Consumption pc": 0.13535, "Population (thousands)": 206139.59}, {"Country": "Czechia", "Cost of 750ml Wine (US$)": 4.33, "Continent": "Europe", "Population": 10697858, "Consumption pc": 21.46224, "Population (thousands)": 10697.86}, {"Country": "Paraguay", "Cost of 750ml Wine (US$)": 4.62, "Continent": "South America", "Population": 7132530, "Consumption pc": 3.51909, "Population (thousands)": 7132.53}, {"Country": "Namibia", "Cost of 750ml Wine (US$)": 4.64, "Continent": "Africa", "Population": 2540916, "Consumption pc": 14.99459, "Population (thousands)": 2540.92}, {"Country": "Tajikistan", "Cost of 750ml Wine (US$)": 4.64, "Continent": "Asia", "Population": 9537642, "Consumption pc": 0.04194, "Population (thousands)": 9537.64}, {"Country": "Montenegro", "Cost of 750ml Wine (US$)": 4.68, "Continent": "Europe", "Population": 621306, "Consumption pc": 17.54369, "Population (thousands)": 621.31}, {"Country": "Kazakhstan", "Cost of 750ml Wine (US$)": 4.69, "Continent": "Asia", "Population": 18755666, "Consumption pc": 2.87913, "Population (thousands)": 18755.67}, {"Country": "Suriname", "Cost of 750ml Wine (US$)": 4.7, "Continent": "South America", "Population": 586634, "Consumption pc": 1.53418, "Population (thousands)": 586.63}, {"Country": "Bulgaria", "Cost of 750ml Wine (US$)": 4.78, "Continent": "Europe", "Population": 6934015, "Consumption pc": 12.11419, "Population (thousands)": 6934.02}, {"Country": "Georgia", "Cost of 750ml Wine (US$)": 4.91, "Continent": "Asia", "Population": 3722716, "Consumption pc": 29.2797, "Population (thousands)": 3722.72}, {"Country": "Antigua and Barbuda", "Cost of 750ml Wine (US$)": 4.99, "Continent": "North America", "Population": 97928, "Consumption pc": 15.31738, "Population (thousands)": 97.93}, {"Country": "Albania", "Cost of 750ml Wine (US$)": 5.09, "Continent": "Europe", "Population": 2837849, "Consumption pc": 7.22378, "Population (thousands)": 2837.85}, {"Country": "Belarus", "Cost of 750ml Wine (US$)": 5.21, "Continent": "Europe", "Population": 9379952, "Consumption pc": 10.46914, "Population (thousands)": 9379.95}, {"Country": "Poland", "Cost of 750ml Wine (US$)": 5.32, "Continent": "Europe", "Population": 37899070, "Consumption pc": 3.37739, "Population (thousands)": 37899.07}, {"Country": "Bolivia", "Cost of 750ml Wine (US$)": 5.33, "Continent": "South America", "Population": 11673029, "Consumption pc": 0.63394, "Population (thousands)": 11673.03}, {"Country": "Chile", "Cost of 750ml Wine (US$)": 5.34, "Continent": "South America", "Population": 19116209, "Consumption pc": 9.5521, "Population (thousands)": 19116.21}, {"Country": "Croatia", "Cost of 750ml Wine (US$)": 5.46, "Continent": "Europe", "Population": 4047680, "Consumption pc": 23.56906, "Population (thousands)": 4047.68}, {"Country": "Uruguay", "Cost of 750ml Wine (US$)": 5.46, "Continent": "South America", "Population": 3473727, "Consumption pc": 19.92097, "Population (thousands)": 3473.73}, {"Country": "Algeria", "Cost of 750ml Wine (US$)": 5.66, "Continent": "Africa", "Population": 43851043, "Consumption pc": 1.0376, "Population (thousands)": 43851.04}, {"Country": "Philippines", "Cost of 750ml Wine (US$)": 5.73, "Continent": "Asia", "Population": 109581085, "Consumption pc": 0.20807, "Population (thousands)": 109581.09}, {"Country": "France", "Cost of 750ml Wine (US$)": 5.85, "Continent": "Europe", "Population": 67379908, "Consumption pc": 34.4346, "Population (thousands)": 67379.91}, {"Country": "Germany", "Cost of 750ml Wine (US$)": 5.85, "Continent": "Europe", "Population": 83160871, "Consumption pc": 23.86218, "Population (thousands)": 83160.87}, {"Country": "Malta", "Cost of 750ml Wine (US$)": 5.85, "Continent": "Europe", "Population": 515332, "Consumption pc": 13.77753, "Population (thousands)": 515.33}, {"Country": "Nepal", "Cost of 750ml Wine (US$)": 5.86, "Continent": "Asia", "Population": 29136808, "Consumption pc": 0.02402, "Population (thousands)": 29136.81}, {"Country": "Cyprus", "Cost of 750ml Wine (US$)": 6.03, "Continent": "Europe", "Population": 1207361, "Consumption pc": 13.58334, "Population (thousands)": 1207.36}, {"Country": "Morocco", "Cost of 750ml Wine (US$)": 6.14, "Continent": "Africa", "Population": 36910558, "Consumption pc": 1.61471, "Population (thousands)": 36910.56}, {"Country": "Russian Federation", "Cost of 750ml Wine (US$)": 6.3, "Continent": "Europe", "Population": 144073139, "Consumption pc": 7.12624, "Population (thousands)": 144073.14}, {"Country": "Mozambique", "Cost of 750ml Wine (US$)": 6.34, "Continent": "Africa", "Population": 31255435, "Consumption pc": 0.07679, "Population (thousands)": 31255.44}, {"Country": "Portugal", "Cost of 750ml Wine (US$)": 6.76, "Continent": "Europe", "Population": 10297081, "Consumption pc": 44.92535, "Population (thousands)": 10297.08}, {"Country": "Lithuania", "Cost of 750ml Wine (US$)": 6.78, "Continent": "Europe", "Population": 2794885, "Consumption pc": 12.3082, "Population (thousands)": 2794.89}, {"Country": "Madagascar", "Cost of 750ml Wine (US$)": 6.79, "Continent": "Africa", "Population": 27691019, "Consumption pc": 0.31779, "Population (thousands)": 27691.02}, {"Country": "Mexico", "Cost of 750ml Wine (US$)": 6.83, "Continent": "North America", "Population": 128932753, "Consumption pc": 0.86014, "Population (thousands)": 128932.75}, {"Country": "Senegal", "Cost of 750ml Wine (US$)": 7.12, "Continent": "Africa", "Population": 16743930, "Consumption pc": 0.3225, "Population (thousands)": 16743.93}, {"Country": "Estonia", "Cost of 750ml Wine (US$)": 7.31, "Continent": "Europe", "Population": 1402985, "Consumption pc": 19.60106, "Population (thousands)": 1402.99}, {"Country": "Botswana", "Cost of 750ml Wine (US$)": 7.48, "Continent": "Africa", "Population": 2351625, "Consumption pc": 1.95609, "Population (thousands)": 2351.63}, {"Country": "Spain", "Cost of 750ml Wine (US$)": 7.61, "Continent": "Europe", "Population": 47363419, "Consumption pc": 19.46228, "Population (thousands)": 47363.42}, {"Country": "Egypt", "Cost of 750ml Wine (US$)": 7.63, "Continent": "Africa", "Population": 102334403, "Consumption pc": 0.0557, "Population (thousands)": 102334.4}, {"Country": "Slovak Republic", "Cost of 750ml Wine (US$)": 7.78, "Continent": "Europe", "Population": 5458827, "Consumption pc": 11.81573, "Population (thousands)": 5458.83}, {"Country": "Peru", "Cost of 750ml Wine (US$)": 7.79, "Continent": "South America", "Population": 32971846, "Consumption pc": 2.68411, "Population (thousands)": 32971.85}, {"Country": "Haiti", "Cost of 750ml Wine (US$)": 7.98, "Continent": "North America", "Population": 11402533, "Consumption pc": 0.15786, "Population (thousands)": 11402.53}, {"Country": "Panama", "Cost of 750ml Wine (US$)": 8.14, "Continent": "North America", "Population": 4314768, "Consumption pc": 0.02318, "Population (thousands)": 4314.77}, {"Country": "Austria", "Cost of 750ml Wine (US$)": 8.18, "Continent": "Europe", "Population": 8916864, "Consumption pc": 25.86111, "Population (thousands)": 8916.86}, {"Country": "Belgium", "Cost of 750ml Wine (US$)": 8.18, "Continent": "Europe", "Population": 11544241, "Consumption pc": 22.5567, "Population (thousands)": 11544.24}, {"Country": "Luxembourg", "Cost of 750ml Wine (US$)": 8.18, "Continent": "Europe", "Population": 630419, "Consumption pc": 40.76654, "Population (thousands)": 630.42}, {"Country": "Dominican Republic", "Cost of 750ml Wine (US$)": 8.24, "Continent": "North America", "Population": 10847904, "Consumption pc": 0.74669, "Population (thousands)": 10847.9}, {"Country": "Nicaragua", "Cost of 750ml Wine (US$)": 8.27, "Continent": "North America", "Population": 6624554, "Consumption pc": 0.16605, "Population (thousands)": 6624.55}, {"Country": "Uganda", "Cost of 750ml Wine (US$)": 8.29, "Continent": "Africa", "Population": 45741000, "Consumption pc": 0.02623, "Population (thousands)": 45741.0}, {"Country": "Zimbabwe", "Cost of 750ml Wine (US$)": 8.32, "Continent": "Africa", "Population": 14862927, "Consumption pc": 0.14802, "Population (thousands)": 14862.93}, {"Country": "Kenya", "Cost of 750ml Wine (US$)": 8.34, "Continent": "Africa", "Population": 53771300, "Consumption pc": 0.13204, "Population (thousands)": 53771.3}, {"Country": "Zambia", "Cost of 750ml Wine (US$)": 8.37, "Continent": "Africa", "Population": 18383956, "Consumption pc": 0.14687, "Population (thousands)": 18383.96}, {"Country": "Cambodia", "Cost of 750ml Wine (US$)": 8.41, "Continent": "Asia", "Population": 16718971, "Consumption pc": 0.07177, "Population (thousands)": 16718.97}, {"Country": "Mongolia", "Cost of 750ml Wine (US$)": 8.43, "Continent": "Asia", "Population": 3278292, "Consumption pc": 0.54907, "Population (thousands)": 3278.29}, {"Country": "Italy", "Cost of 750ml Wine (US$)": 8.45, "Continent": "Europe", "Population": 59449527, "Consumption pc": 40.7068, "Population (thousands)": 59449.53}, {"Country": "Latvia", "Cost of 750ml Wine (US$)": 8.45, "Continent": "Europe", "Population": 1900449, "Consumption pc": 4.36739, "Population (thousands)": 1900.45}, {"Country": "Netherlands", "Cost of 750ml Wine (US$)": 8.45, "Continent": "Europe", "Population": 17441500, "Consumption pc": 20.9271, "Population (thousands)": 17441.5}, {"Country": "Slovenia", "Cost of 750ml Wine (US$)": 8.45, "Continent": "Europe", "Population": 2102419, "Consumption pc": 36.71961, "Population (thousands)": 2102.42}, {"Country": "Colombia", "Cost of 750ml Wine (US$)": 8.5, "Continent": "South America", "Population": 50882884, "Consumption pc": 0.45791, "Population (thousands)": 50882.88}, {"Country": "Brazil", "Cost of 750ml Wine (US$)": 8.79, "Continent": "South America", "Population": 212559409, "Consumption pc": 1.90676, "Population (thousands)": 212559.41}, {"Country": "Mauritius", "Cost of 750ml Wine (US$)": 8.86, "Continent": "Africa", "Population": 1265740, "Consumption pc": 1.26408, "Population (thousands)": 1265.74}, {"Country": "Turkiye", "Cost of 750ml Wine (US$)": 8.91, "Continent": "Europe", "Population": 84339067, "Consumption pc": 0.80745, "Population (thousands)": 84339.07}, {"Country": "Burundi", "Cost of 750ml Wine (US$)": 9.19, "Continent": "Africa", "Population": 11890781, "Consumption pc": 0.03364, "Population (thousands)": 11890.78}, {"Country": "Denmark", "Cost of 750ml Wine (US$)": 9.43, "Continent": "Europe", "Population": 5831404, "Consumption pc": 26.59737, "Population (thousands)": 5831.4}, {"Country": "Honduras", "Cost of 750ml Wine (US$)": 9.43, "Continent": "North America", "Population": 9904608, "Consumption pc": 0.20193, "Population (thousands)": 9904.61}, {"Country": "Tanzania", "Cost of 750ml Wine (US$)": 9.49, "Continent": "Africa", "Population": 59734213, "Consumption pc": 0.04855, "Population (thousands)": 59734.21}, {"Country": "Dominica", "Cost of 750ml Wine (US$)": 9.64, "Continent": "North America", "Population": 71991, "Consumption pc": 1.38906, "Population (thousands)": 71.99}, {"Country": "Grenada", "Cost of 750ml Wine (US$)": 9.73, "Continent": "North America", "Population": 112519, "Consumption pc": 47.99189, "Population (thousands)": 112.52}, {"Country": "Sweden", "Cost of 750ml Wine (US$)": 10.08, "Continent": "Europe", "Population": 10353442, "Consumption pc": 20.57287, "Population (thousands)": 10353.44}, {"Country": "Greece", "Cost of 750ml Wine (US$)": 10.14, "Continent": "Europe", "Population": 10700556, "Consumption pc": 20.7092, "Population (thousands)": 10700.56}, {"Country": "Sri Lanka", "Cost of 750ml Wine (US$)": 10.23, "Continent": "Asia", "Population": 21919000, "Consumption pc": 0.05018, "Population (thousands)": 21919.0}, {"Country": "Ghana", "Cost of 750ml Wine (US$)": 10.42, "Continent": "Africa", "Population": 31072945, "Consumption pc": 0.21884, "Population (thousands)": 31072.95}, {"Country": "El Salvador", "Cost of 750ml Wine (US$)": 10.51, "Continent": "North America", "Population": 6486201, "Consumption pc": 0.40085, "Population (thousands)": 6486.2}, {"Country": "Lesotho", "Cost of 750ml Wine (US$)": 10.51, "Continent": "Africa", "Population": 2142252, "Consumption pc": 0.7002, "Population (thousands)": 2142.25}, {"Country": "United Kingdom", "Cost of 750ml Wine (US$)": 10.64, "Continent": "Europe", "Population": 67081000, "Consumption pc": 19.97585, "Population (thousands)": 67081.0}, {"Country": "New Zealand", "Cost of 750ml Wine (US$)": 10.67, "Continent": "Oceania", "Population": 5090200, "Consumption pc": 18.66331, "Population (thousands)": 5090.2}, {"Country": "Israel", "Cost of 750ml Wine (US$)": 10.91, "Continent": "Asia", "Population": 9215100, "Consumption pc": 0.46663, "Population (thousands)": 9215.1}, {"Country": "Jamaica", "Cost of 750ml Wine (US$)": 10.95, "Continent": "North America", "Population": 2961161, "Consumption pc": 1.51967, "Population (thousands)": 2961.16}, {"Country": "Iraq", "Cost of 750ml Wine (US$)": 11.29, "Continent": "Asia", "Population": 40222503, "Consumption pc": 0.02486, "Population (thousands)": 40222.5}, {"Country": "Australia", "Cost of 750ml Wine (US$)": 11.4, "Continent": "Oceania", "Population": 25693267, "Consumption pc": 23.15782, "Population (thousands)": 25693.27}, {"Country": "Japan", "Cost of 750ml Wine (US$)": 11.4, "Continent": "Asia", "Population": 126261000, "Consumption pc": 2.75778, "Population (thousands)": 126261.0}, {"Country": "Finland", "Cost of 750ml Wine (US$)": 11.69, "Continent": "Europe", "Population": 896444, "Consumption pc": 25.88003, "Population (thousands)": 896.44}, {"Country": "Ireland", "Cost of 750ml Wine (US$)": 11.69, "Continent": "Europe", "Population": 4985674, "Consumption pc": 18.35258, "Population (thousands)": 4985.67}, {"Country": "Costa Rica", "Cost of 750ml Wine (US$)": 11.74, "Continent": "North America", "Population": 5094114, "Consumption pc": 2.10046, "Population (thousands)": 5094.11}, {"Country": "Vietnam", "Cost of 750ml Wine (US$)": 11.74, "Continent": "Asia", "Population": 97338583, "Consumption pc": 0.12328, "Population (thousands)": 97338.58}, {"Country": "Seychelles", "Cost of 750ml Wine (US$)": 11.83, "Continent": "Asia", "Population": 98462, "Consumption pc": 17.26554, "Population (thousands)": 98.46}, {"Country": "Canada", "Cost of 750ml Wine (US$)": 12.04, "Continent": "North America", "Population": 38037204, "Consumption pc": 11.61494, "Population (thousands)": 38037.2}, {"Country": "Belize", "Cost of 750ml Wine (US$)": 12.6, "Continent": "North America", "Population": 397621, "Consumption pc": 3.26945, "Population (thousands)": 397.62}, {"Country": "Ecuador", "Cost of 750ml Wine (US$)": 12.6, "Continent": "South America", "Population": 17643060, "Consumption pc": 0.5668, "Population (thousands)": 17643.06}, {"Country": "United States", "Cost of 750ml Wine (US$)": 12.6, "Continent": "North America", "Population": 331501080, "Consumption pc": 9.91218, "Population (thousands)": 331501.08}, {"Country": "China", "Cost of 750ml Wine (US$)": 12.67, "Continent": "Asia", "Population": 1411100000, "Consumption pc": 0.87846, "Population (thousands)": 1411100.0}, {"Country": "Switzerland", "Cost of 750ml Wine (US$)": 12.68, "Continent": "Europe", "Population": 8636561, "Consumption pc": 28.98144, "Population (thousands)": 8636.56}, {"Country": "Malaysia", "Cost of 750ml Wine (US$)": 12.75, "Continent": "Asia", "Population": 32365998, "Consumption pc": 0.19156, "Population (thousands)": 32366.0}, {"Country": "Rwanda", "Cost of 750ml Wine (US$)": 13.33, "Continent": "Africa", "Population": 12952209, "Consumption pc": 0.13125, "Population (thousands)": 12952.21}, {"Country": "The Democratic Republic of Congo", "Cost of 750ml Wine (US$)": 13.91, "Continent": "Africa", "Population": 89561404, "Consumption pc": 0.03685, "Population (thousands)": 89561.4}, {"Country": "Malawi", "Cost of 750ml Wine (US$)": 14.59, "Continent": "Africa", "Population": 19129955, "Consumption pc": 0.01045, "Population (thousands)": 19129.96}, {"Country": "Thailand", "Cost of 750ml Wine (US$)": 15.43, "Continent": "Asia", "Population": 69799978, "Consumption pc": 0.01433, "Population (thousands)": 69799.98}, {"Country": "Papua New Guinea", "Cost of 750ml Wine (US$)": 15.65, "Continent": "Oceania", "Population": 8947027, "Consumption pc": 0.30178, "Population (thousands)": 8947.03}, {"Country": "Angola", "Cost of 750ml Wine (US$)": 15.76, "Continent": "Africa", "Population": 32866268, "Consumption pc": 0.96451, "Population (thousands)": 32866.27}, {"Country": "Myanmar", "Cost of 750ml Wine (US$)": 15.76, "Continent": "Asia", "Population": 54409794, "Consumption pc": 0.10476, "Population (thousands)": 54409.79}, {"Country": "Norway", "Cost of 750ml Wine (US$)": 16.33, "Continent": "Europe", "Population": 5379475, "Consumption pc": 19.55581, "Population (thousands)": 5379.48}, {"Country": "Bahamas", "Cost of 750ml Wine (US$)": 17.72, "Continent": "North America", "Population": 393248, "Consumption pc": 9.40882, "Population (thousands)": 393.25}, {"Country": "Barbados", "Cost of 750ml Wine (US$)": 18.39, "Continent": "North America", "Population": 287371, "Consumption pc": 9.04754, "Population (thousands)": 287.37}, {"Country": "Jordan", "Cost of 750ml Wine (US$)": 19.28, "Continent": "Asia", "Population": 10203140, "Consumption pc": 0.0294, "Population (thousands)": 10203.14}, {"Country": "Iceland", "Cost of 750ml Wine (US$)": 20.61, "Continent": "Europe", "Population": 366463, "Consumption pc": 13.64394, "Population (thousands)": 366.46}, {"Country": "Bahrain", "Cost of 750ml Wine (US$)": 20.74, "Continent": "Asia", "Population": 1701583, "Consumption pc": 0.88153, "Population (thousands)":